
<section class="layout-row layout-row--wood layout-row--shadow-vertical">
  <div class="layout-row__content u-spacing-horizontal">

    {% for episode in episodes %}
      <div class="content-item">
        <div class="content-item__header u-constrained">
          <div class="heading heading--small">
            <div class="heading__title">
              <a href="{{episode.url}}">{{episode.title}}</a>
            </div>
          </div>

          <time>
            {{episode.published_at | date: "%d. %B %Y"}}
          </time>
        </div>
        <div class="content-item__content u-constrained">
          <section class="post-media-player">
            {{episode.player}}
          </section>
          <section class="post-downloads">
            {{episode.downloads}}
          </section>

          <section class="post-social-media">
            {{episode.social_links}}
            {{episode.flattr}}
          </section>
          <section class="post-description">
            {{episode.description}}
          </section>
        </div>
      </div>
    {% endfor %}

    <div class="pagination">
      {{ pagination.previous_page }}
      {{ pagination.next_page }}
    </div>

  </div>
</section>

