/// Generates a `font-family` declaration.
///
/// @argument {string} $font-family
///
/// @argument {string | number} $font-weight
///
/// @argument {string} $font-style
///
/// @example scss
///   @include font(
///     'source-sans-pro',
///     700,
///     italic
///   )
///
///   // CSS Output
///   font-family: 'source-sans-pro';
///   font-style: italic;
///   font-weight: 700;
///
/// @require {mixin} font

@mixin font($font-family, $font-weight: 400, $font-style: normal) {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: $font-weight;
}

/// Generates a `font-family` declaration for the 'Roboto' font family.
///
/// @argument {string | number} $font-weight
///
/// @argument {string} $font-style
///
/// @example scss
///   @include font--roboto(700, italic)
///
///   // CSS Output
///   font-family: 'MuBRoboto' sans-serif;
///   font-style: italic;
///   font-weight: 700;
///
/// @require {mixin} font

@mixin font--roboto($font-weight: 400, $font-style: normal) {
  $_font-family: 'MuBRoboto', sans-serif;

  @include font($_font-family, $font-weight, $font-style);
}

/// Generates a `font-family` declaration for the 'Roboto Condensed' font family.
///
/// @argument {string | number} $font-weight
///
/// @argument {string} $font-style
///
/// @example scss
///   @include font--roboto-condensed(300, italic)
///
///   // CSS Output
///   font-family: 'MuBRobotoCondensed' sans-serif;
///   font-style: italic;
///   font-weight: 300;
///
/// @require {mixin} font

@mixin font--roboto-condensed($font-weight: 400, $font-style: normal) {
  $_font-family: 'MuBRobotoCondensed', sans-serif;

  @include font($_font-family, $font-weight, $font-style);

  letter-spacing: -0.025em;
}

/// Generates a `font-family` declaration for the 'Roboto Slab' font family.
///
/// @argument {string | number} $font-weight
///
/// @example scss
///   @include font--roboto-slab(100)
///
///   // CSS Output
///   font-family: 'MuBRobotoSlab' serif;
///   font-style: normal;
///   font-weight: 100;
///
/// @require {mixin} font

@mixin font--roboto-slab($font-weight: 400) {
  $_font-family: 'MuBRobotoSlab', serif;

  @include font($_font-family, $font-weight);
}

/// Generates a `font-family` declaration for the 'Rock Salt' font family.
///
/// @example scss
///   @include font--rock-salt()
///
///   // CSS Output
///   font-family: 'MuBRockSalt' sans-serif;
///   font-style: normal;
///   font-weight: 400;
///
/// @require {mixin} font

@mixin font--rock-salt() {
  $_font-family: 'MuBRockSalt', serif;

  @include font($_font-family, 400, normal);

  text-transform: capitalize;
}
