/// Generates a `@media` declaration for a given breakpoint range identifier.
///
/// @argument {string} $range
///
/// @content
///   Any additional CSS properties that are included in the `@include`
///   directive will be output within the `@media` declaration.
///
/// @example scss
///   @include for-size('tablet-portrait--up') {
///     font-style: normal;
///   }
///
///   // CSS Output
///   @media (min-width: 600px) {
///     font-style: normal;
///   }
///
/// @require {mixin} breakpoint

@mixin for-size($range) {
  @if $range == $breakpoint--phone--only {
    @include breakpoint(0 ($_breakpoint--upper-boundary--phone - 1)) {
      @content;
    }
  }
  @elseif $range == $breakpoint--phone--landscape--only {
    @include breakpoint($_breakpoint--upper-boundary--phone ($_breakpoint--upper-boundary--phone--landscape - 1)) {
      @content;
    }
  }
  @elseif $range == $breakpoint--phone--landscape--down {
    @include breakpoint(0 ($_breakpoint--upper-boundary--phone--landscape - 1)) {
      @content;
    }
  }
  @elseif $range == $breakpoint--phone--landscape--up {
    @include breakpoint($_breakpoint--upper-boundary--phone) {
      @content;
    }
  }
  @else if $range == $breakpoint--tablet--portrait--only {
    @include breakpoint($_breakpoint--upper-boundary--phone--landscape ($_breakpoint--upper-boundary--tablet--portrait - 1)) {
      @content;
    }
  }
  @else if $range == $breakpoint--tablet--portrait--down {
    @include breakpoint(0 ($_breakpoint--upper-boundary--tablet--portrait - 1)) {
      @content;
    }
  }
  @else if $range == $breakpoint--tablet--portrait--up {
    @include breakpoint($_breakpoint--upper-boundary--phone--landscape) {
      @content;
    }
  }
  @else if $range == $breakpoint--tablet--landscape--only {
    @include breakpoint($_breakpoint--upper-boundary--tablet--portrait ($_breakpoint--upper-boundary--tablet--landscape - 1)) {
      @content;
    }
  }
  @else if $range == $breakpoint--tablet--landscape--down {
    @include breakpoint(0 ($_breakpoint--upper-boundary--tablet--landscape - 1)) {
      @content;
    }
  }
  @else if $range == $breakpoint--tablet--landscape--up {
    @include breakpoint($_breakpoint--upper-boundary--tablet--portrait) {
      @content;
    }
  }
  @else if $range == $breakpoint--desktop--down {
    @include breakpoint(0 ($_breakpoint--upper-boundary--desktop - 1)) {
      @content;
    }
  }
  @else if $range == $breakpoint--desktop--only {
    @include breakpoint($_breakpoint--upper-boundary--tablet--landscape ($_breakpoint--upper-boundary--desktop - 1)) {
      @content;
    }
  }
  @else if $range == $breakpoint--desktop--up {
    @include breakpoint($_breakpoint--upper-boundary--tablet--landscape) {
      @content;
    }
  }
  @else if $range == $breakpoint--desktop--large--up {
    @include breakpoint($_breakpoint--upper-boundary--desktop) {
      @content;
    }
  }
}
