html {
  font-size: 16px;
  min-height: 100%;

  @include for-size($breakpoint--tablet--portrait--up) {
    font-size: 18px;
  }

  @include for-size($breakpoint--desktop--up) {
    font-size: 20px;
  }
}

body {
  background: $color--blue--darker;
  margin: 0;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  // Compensate fixed subscribe bar.
  padding: 0 0 $spacing--triple;

  @include for-size($breakpoint--tablet--landscape--up) {
    // Compensate fixed subscribe bar.
    padding-bottom: $spacing--triple * 1.5;
  }
}
