.rt-index-about {
  background: $color--blue;
  padding: $spacing--default $spacing--default $spacing--double;
  position: relative;

  @include for-size($breakpoint--tablet--portrait--up) {
    padding-top: $spacing--double;
  }

  @include for-size($breakpoint--tablet--landscape--up) {
    padding-bottom: $spacing--double;
  }

  @include for-size($breakpoint--desktop--up) {
    padding-bottom: $spacing--triple;
  }

  &::before {
    background: inherit;
    content: ' ';
    height: 300px;
    left: 0;
    position: absolute;
    top: 0;
    transform: skewY($global--skew-angle);
    transform-origin: left top;
    width: 150vw;
  }

  &__inner {
    margin: 0 auto;
    max-width: $global--max-width;
    position: relative;
    z-index: 2;

    @include for-size($breakpoint--tablet--landscape--up) {
      align-items: flex-start;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }

  &__text {
    color: $color--white;
    display: block;
    font-size: 1rem;
    margin: 0 0 $spacing--default;

    @include for-size($breakpoint--tablet--landscape--up) {
      margin: 0;
      width: calc(65% - #{$spacing--double});
    }

    @include for-size($breakpoint--desktop--up) {
      width: calc(60% - #{$spacing--triple});
    }

    h2 {
      @include font--roboto-slab(700);

      font-size: 1.5rem;
      line-height: 1.2;
      margin: 0 0 1em;
    }

    p {
      @include font--roboto-condensed(300);

      font-size: inherit;
      line-height: 1.5;
      margin: 0;
    }

    small {
      @include font--roboto-condensed(700);

      display: block;
      margin: $spacing--default 0 0;
      opacity: 0.5;
    }
  }

  &__cover {
    display: block;
    width: 100%;

    @include for-size($breakpoint--tablet--landscape--up) {
      margin: -$spacing--double 0 0;
      width: 35%;
    }

    @include for-size($breakpoint--desktop--up) {
      margin-top: -$spacing--triple;
      width: 40%;
    }

    img {
      border-radius: $spacing--three-quarters;
      box-shadow: $spacing--half $spacing--half $spacing--default rgba($color--black, 0.4);
      display: block;
      height: auto;
      width: 100%;
    }
  }

  &__subscribe {
    margin-top: $spacing--double;
    text-align: center;

    iframe {
      margin: 0 auto;
    }
  }
}
