.rt-episode-share-links {
  font-size: 0;
  text-align: center;

  .link {
    background: $color--green;
    border-radius: $spacing--quarter;
    color: $color--white;
    display: inline-block;
    font-size: 1rem;
    height: 2rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 2rem;

    > * {
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover {
      background: $color--blue--darker;
    }
  }

  .link + .link {
    margin-left: $spacing--half;
  }
}
