.rt-pagination {
  @include font--roboto-condensed(700);

  display: block;
  font-size: 0;
  list-style-type: none;
  margin: $spacing--triple 0 0;
  padding: 0 $spacing--default;
  text-align: center;

  &__item {
    display: inline-block;
    font-size: 1rem;
    margin: 0;
    padding: 0 $spacing--default;

    a {
      &,
      &:hover {
        color: $color--gray;
        font-weight: bold;
        text-decoration: none;
      }

      &:hover {
        color: $color--black;
      }
    }
  }

  &__item + &__item {
    border-left: 1px solid $color--gray;
  }
}
