.rt-show {
  &__meta {
    @include for-size($breakpoint--tablet--landscape--up) {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }

  &__downloads + &__share {
    margin-top: $spacing--default;

    @include for-size($breakpoint--tablet--landscape--up) {
      margin-top: 0;
    }
  }

  &__downloads {
    display: block;
    font-size: 1rem;
  }

  &__share {
    display: block;
    text-align: center;
  }
}
