.rt-subscribe-bar {
  align-items: center;
  background: $color--green;
  bottom: 0;
  box-shadow: 0 0 $spacing--default rgba($color--black, 0.4);
  display: flex;
  flex-flow: row nowrap;
  font-size: 0;
  height: $spacing--triple;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 999;

  @include for-size($breakpoint--tablet--landscape--up) {
    height: $spacing--triple * 1.5;

    iframe {
      transform: scale(1.5);
    }
  }
}
