.rt-page-header {
  margin: 0 0 $spacing--half;
  padding: $spacing--one-half $spacing--default $spacing--double;
  position: relative;
  text-align: center;
  z-index: 10;

  @include for-size($breakpoint--phone--landscape--up) {
    padding-bottom: $spacing--triple;
    padding-top: $spacing--triple;
  }

  @include for-size($breakpoint--tablet--portrait--up) {
    padding-bottom: $spacing--double * 2;
    padding-top: $spacing--double * 2;
  }

  @include for-size($breakpoint--tablet--landscape--up) {
    margin-bottom: $spacing--three-quarters;
    padding-bottom: $spacing--default * 5;
  }

  @include for-size($breakpoint--desktop--up) {
    padding-bottom: $spacing--default * 6;
  }

  &::after {
    background: $color--green;
    bottom: 0;
    content: ' ';
    height: 100vh;
    left: 0;
    position: absolute;
    transform: skewY($global--skew-angle);
    transform-origin: left bottom;
    width: 150vw;
  }

  &__inner {
    margin: 0 auto;
    max-width: $global--max-width;
    position: relative;
    z-index: 2;
  }

  &__logo {
    display: none;
    margin: 0 auto $spacing--default;
    width: 33.333%;

    @include for-size($breakpoint--phone--landscape--up) {
      display: block;
      left: 0;
      margin: 0;
      position: absolute;
      top: -$spacing--one-half;
      width: 15%;
    }

    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  &__title {
    svg {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  &__meta {
    left: 100vw;
    position: absolute;
    top: 0;
  }
}
