.rt-book-teaser {
  background: rgba($color--black, 0.075);
  border-radius: $spacing--three-quarters;
  padding: 0 $spacing--default $spacing--double;
  text-align: center;

  @include for-size($breakpoint--tablet--portrait--up) {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding-right: $spacing--double;
    padding-top: $spacing--double;
    text-align: left;
  }

  @include for-size($breakpoint--tablet--landscape--up) {
    padding-right: $spacing--triple;
  }

  &__visual {
    display: block;

    @include for-size($breakpoint--tablet--portrait--up) {
      width: 33.333%;
    }

    @include for-size($breakpoint--tablet--landscape--up) {
      width: 50%;
    }

    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  &__visual + &__content {
    margin: $spacing--default 0 0;

    @include for-size($breakpoint--tablet--portrait--up) {
      margin-top: 0;
    }
  }

  &__content {
    @include for-size($breakpoint--tablet--portrait--up) {
      width: 66.666%;
    }

    @include for-size($breakpoint--tablet--landscape--up) {
      width: 50%;
    }
  }
}
