.rt-episode-downloads {
  @include font--roboto-condensed(700);

  font-size: inherit;

  .post-media-player-downloads {
    margin-top: 0;
  }

  a {
    color: $color--green;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
