.rt-episode-teaser {
  border-top: 2px dashed $color--gray;
  padding: $spacing--triple 0 0;
  text-align: center;

  @include for-size($breakpoint--tablet--portrait--up) {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    text-align: left;
  }

  &--first {
    border-top: none;
    padding-top: 0;
  }

  &__cover {
    display: block;

    @include for-size($breakpoint--tablet--portrait--up) {
      align-self: flex-start;
      width: 25%;
    }

    @include for-size($breakpoint--tablet--landscape--up) {
      width: 35%;
    }

    img {
      border-radius: $spacing--three-quarters;
      display: block;
      height: auto;
      width: 100%;
    }
  }

  &__cover + &__content {
    margin: $spacing--default 0 0;

    @include for-size($breakpoint--tablet--portrait--up) {
      margin-top: 0;
    }
  }

  &__content {
    display: block;

    @include for-size($breakpoint--tablet--portrait--up) {
      padding-left: $spacing--default;
      width: 75%;
    }

    @include for-size($breakpoint--tablet--landscape--up) {
      padding-left: $spacing--double;
      width: 65%;
    }
  }

  &__title {
    @include font--roboto-slab(700);

    color: $color--blue;
    font-size: 1.5rem;

    a {
      &,
      &:hover {
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        color: $color--blue--darker;
      }
    }
  }

  &__date {
    @include font--roboto-condensed(300);

    color: $color--black;
    display: block;
    font-size: 0.75rem;
    opacity: 0.8;
  }

  &__text {
    margin: $spacing--default 0 0;
  }

  &__button {
    margin: $spacing--default 0 0;
  }
}
