<div class="rt-page-preface">
  <div class="rt-page-preface__inner">
    <div class="rt-page-preface__text">
      <h2>
        {{- title -}}
      </h2>
      <p>
        {{- text -}}
      </p>
      <small>
        {{- footnote -}}
      </small>
    </div>

    <div class="rt-page-preface__aside">
      {{- aside -}}
    </div>
  </div>
</div>
