{% if blog.announcement != blank %}
  <div class="rt-announcement">
    <section class="layout-row layout-row--shadow-top">
      <div class="layout-row__content u-spacing-horizontal">
        <div class="content-item">
          <div class="content-item__header u-constrained">
            <div class="content-item__content u-constrained">
              <div class="text text--centered">
                {{blog.announcement}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endif %}
