{%- if pagination.previous_page != blank or pagination.next_page != blank -%}
  <ul class="rt-pagination">
    {%- if pagination.previous_page != blank -%}
      <li class="rt-pagination__item">
        {{- pagination.previous_page -}}
      </li>
    {%- endif -%}

    {%- if pagination.next_page != blank -%}
      <li class="rt-pagination__item">
        {{- pagination.next_page -}}
      </li>
    {%- endif -%}
  </ul>
{%- endif -%}
