<footer class="page-footer">
  <div class="page-footer__content">
    <div class="logo">
      <a href="https://www.mehde-und-banse.de" class="logo__link" onclick="this.target='_blank';">
        <img src="https://www.mehde-und-banse.de/svgs/logo.svg"
          alt="Mehde und Banse | Training - Coaching - Beratung"
          title="Mehde und Banse | Training - Coaching - Beratung"
          class="logo__image"
          width="294"
          height="131" />
      </a>
    </div>
  </div>

  <div class="page-footer__bottom u-spacing-horizontal">
    <div class="legal-line">
      Copyright by Mehde und Banse &nbsp;•&nbsp; All rights reserved
      <span class="legal-line__links">
        <a href="https://www.mehde-und-banse.de/impressum" class="legal-line__link" onclick="this.target='_blank';">Impressum</a>
        &nbsp;•&nbsp;
        <a href="https://www.mehde-und-banse.de/datenschutz" class="legal-line__link" onclick="this.target='_blank';">Datenschutz</a>
        &nbsp;•&nbsp;
        <a href="https://www.mehde-und-banse.de/disclaimer" class="legal-line__link" onclick="this.target='_blank';">Disclaimer</a>
      </span>
    </div>
  </div>
</footer>
