<div class="rt-book-teaser">
  <div class="rt-book-teaser__visual">
    <a href="https://www.mehde-und-banse.de/buch" onclick="this.target='_blank';">
      <img src="https://www.mehde-und-banse.de/images/background/row/splitted-book-teaser--tablet-portrait.png" alt="Führung ist keine Raketenwissenschaft - Als Fühtrungskraft wirklich richtig erfolgreich werden" title="Führung ist keine Raketenwissenschaft - Als Fühtrungskraft wirklich richtig erfolgreich werden" />
    </a>
  </div>
  <div class="rt-book-teaser__content">
    <div class="text text--unconstrained">
      <h3>
        Unser Buch
      </h3>
      <p>
        <strong>
          "Führung ist keine Raketenwissenschaft - Als Führungskraft
          wirklich richtig erfolgreich werden" erhalten Sie im Buchhandel Ihres
          Vertrauens oder direkt hier:
        </strong>
      </p>
      <a href="https://www.mehde-und-banse.de/buch" onclick="this.target='_blank';" class="button button--buy button--with-icon">
        <i class="button__icon button__icon"></i>
        <span class="button__label">Jetzt kaufen</span>
      </a>
    </div>
  </div>
</div>
