{%- capture title_layout_row_header -%}
  <div class="heading heading--white heading--small u-constrained">
    <h3 class="heading__title">
      <a href="{{- episode.url -}}">
        {{- episode.title -}}
      </a>
    </h3>
    {%- if episode.published_at -%}
      <p class="heading__text">
        {{- episode.published_at | date: "%d. %B %Y" -}}
      </p>
    {%- endif -%}
  </div>
{%- endcapture -%}

{%- render '_component.layout-row.html',
  modifiers: 'layout-row--wood layout-row--shadow-vertical',
  header: title_layout_row_header,
-%}

{%- capture feature -%}
  <div class="rt-episode-feature">
    <div class="rt-episode-feature__player">
      {{- episode.player -}}
    </div>
    <div class="rt-episode-feature__meta">
      <div class="rt-episode-feature__downloads">
        {%- render '_component.rt-episode-downloads.html',
          episode: episode,
        -%}
      </div>
      <div class="rt-episode-feature__share">
        <a href="{{- episode.url -}}" class="button button--forward button--with-icon">
          <i class="button__icon button__icon"></i>
          <span class="button__label">Zur Episode</span>
        </a>
      </div>
    </div>
  </div>
{%- endcapture -%}

{%- capture feature_layout_row_content -%}
  {%- render '_component.content-item.html',
    content: feature,
  -%}
{%- endcapture -%}

{%- render '_component.layout-row.html',
  content: feature_layout_row_content,
-%}
