<section class="layout-row {{ modifiers -}}">
  {%- if header -%}
    <div class="layout-row__header u-spacing-horizontal">
      {{- header -}}
    </div>
  {%- endif -%}
  {%- if content -%}
    <div class="layout-row__content u-spacing-horizontal">
      {{- content -}}
    </div>
  {%- endif -%}
</section>
