<header class="rt-page-header">
  <div class="rt-page-header__inner">
    <div class="rt-page-header__logo">
      <a href="https://www.mehde-und-banse.de" onclick="this.target='_blank';">
        <img src="https://www.mehde-und-banse.de/svgs/logo.svg" alt="Mehde und Banse | Training - Coaching - Beratung" title="Mehde und Banse | Training - Coaching - Beratung" />
      </a>
    </div>

    <div class="rt-page-header__title">
      <a href="{{- href_home -}}" title="{{- title -}}">
        {%- render '_svg.title-raketentalk.html' -%}
      </a>
    </div>
  </div>

  <div class="rt-page-header__meta">
    <h1>{{- title -}}</h1>
    <p>{{- subtitle -}}</p>
  </div>
</header>
