<div class="rt-episode-teaser {% if is_first %}rt-episode-teaser--first{% endif %}">
  <div class="rt-episode-teaser__cover">
    <a href="{{- episode.url -}}" title="{{- episode.title -}}">
      <img src="{{- episode.cover_image_url -}}" alt="{{- episode.title -}}" title="{{- episode.title -}}" />
    </a>
  </div>
  <div class="rt-episode-teaser__content">
    <div class="rt-episode-teaser__title">
      <a href="{{- episode.url -}}" title="{{- episode.title -}}">
        {{- episode.title -}}
      </a>
      <time class="rt-episode-teaser__date">
        {{- episode.published_at | date:"%d. %B %Y" -}}
      </time>
    </div>

    <div class="rt-episode-teaser__text">
      <div class="text text--unconstrained">
        <p>
          {{- episode.description | truncate:170 -}}
        </p>
      </div>
    </div>

    <div class="rt-episode-teaser__button">
      <a href="{{- episode.url -}}" class="button button--forward button--with-icon button--small">
        <i class="button__icon button__icon"></i>
        <span class="button__label">Jetzt anhören</span>
      </a>
    </div>
  </div>
</div>
