{%- capture preface_aside_image -%}
  <img src="{{- podcast.cover_image_url -}}" alt="{{- podcast.title -}}" title="{{- podcast.title -}}" />
{%- endcapture -%}

{%- capture preface_aside -%}
  {%- render '_component.content-item.html',
    content: preface_aside_image,
  -%}
{%- endcapture -%}

{%- render '_component.rt-page-preface.html',
  title: podcast.subtitle,
  text: 'Hier finden Sie alle Episoden unseres Podcasts im Überblick.',
  aside: preface_aside,
-%}

{%- capture title -%}
  <div class="heading heading--white u-constrained">
    <h3 class="heading__title">
      Alle <span class="heading__highlighted">Episoden</span>
    </h3>
  </div>
{%- endcapture -%}

{%- render '_component.layout-row.html',
  modifiers: 'layout-row--wood layout-row--shadow-vertical',
  header: title,
-%}

{%- capture layout_row_content -%}
  {%- for episode in episodes -%}
    {%- capture episode_teaser -%}
      {%- render '_component.rt-episode-teaser.html',
        episode: episode,
        is_first: forloop.first
      -%}
    {%- endcapture -%}

    {%- render '_component.content-item.html',
      content: episode_teaser,
    -%}
  {%- endfor -%}

  {%- render '_component.rt-pagination.html',
    pagination: pagination,
  -%}
{%- endcapture -%}

{%- render '_component.layout-row.html',
  content: layout_row_content,
-%}

{%- capture buttons -%}
<div class="button-group ">
  <ul class="button-group__items">
    <li class="button-group__item">
      <a href="{{- blog.links.home -}}" class="button button--home button--with-icon button--block">
        <i class="button__icon"></i>
        <span class="button__label">Zurück zur Startseite</span>
      </a>
    </li>
  </ul>
</div>
{%- endcapture -%}

{%- render '_component.layout-row.html',
  modifiers: 'layout-row--wood layout-row--shadow-vertical',
  content: buttons,
-%}
