{%- capture preface_footnote -%}
  {{- 'by' | t}} {{ podcast.authors -}}
{%- endcapture -%}

{%- capture preface_aside_image -%}
  <img src="{{- podcast.cover_image_url -}}" alt="{{- podcast.title -}}" title="{{- podcast.title -}}" />
{%- endcapture -%}

{%- capture preface_aside_button -%}
  <div class="button-group">
    <ul class="button-group__items">
      <li class="button-group__item">
        <a href="{{- blog.links.archive -}}" class="button button--forward button--with-icon button--block">
          <i class="button__icon button__icon"></i>
          <span class="button__label">Alle Episoden</span>
        </a>
      </li>
    </ul>
  </div>
{%- endcapture -%}

{%- capture preface_aside -%}
  {%- render '_component.content-item.html',
    content: preface_aside_image,
  -%}

  {%- render '_component.content-item.html',
    content: preface_aside_button,
  -%}
{%- endcapture -%}

{%- render '_component.rt-page-preface.html',
  title: podcast.subtitle,
  text: podcast.description,
  footnote: preface_footnote,
  aside: preface_aside,
-%}

{% include '_component.rt-announcement.html' %}

{%- for episode in episodes limit:3 -%}
  {%- include '_component.rt-episode-feature.html' -%}
{%- endfor -%}

{%- capture button_all_episodes -%}
  <div class="button-group ">
    <ul class="button-group__items">
      <li class="button-group__item">
        <a href="{{- blog.links.archive -}}" class="button button--forward button--with-icon button--block button--extra-large">
          <i class="button__icon button__icon"></i>
          <span class="button__label">Alle Episoden</span>
        </a>
      </li>
      <li class="button-group__item">
        <a href="https://www.mehde-und-banse.de/buch" class="button button--buy button--with-icon button--block button--extra-large" onclick="this.target='_blank';">
          <i class="button__icon button__icon"></i>
          <span class="button__label">Unser Buch</span>
        </a>
      </li>
    </ul>
  </div>
{%- endcapture -%}

{%- render '_component.layout-row.html',
  modifiers: 'layout-row--wood layout-row--shadow-vertical',
  content: button_all_episodes,
-%}
