{%- capture preface_footnote -%}
  {{- episode.published_at | date: "%d. %B %Y" -}}
{%- endcapture -%}

{%- capture preface_aside -%}
  {%- render '_component.content-item.html',
    content: episode.player,
  -%}
{%- endcapture -%}

{%- render '_component.rt-page-preface.html',
  title: episode.title,
  text: episode.description,
  footnote: preface_footnote,
  aside: preface_aside,
-%}

{%- capture show_meta -%}
  <div class="rt-show__meta">
    <div class="rt-show__downloads">
      {%- render '_component.rt-episode-downloads.html',
        episode: episode,
      -%}
    </div>
    <div class="rt-show__share">
      {%- render '_component.rt-episode-share-links.html',
        episode: episode,
      -%}
    </div>
  </div>
{%- endcapture -%}

{%- capture show_notes -%}
  <div class="text">
    {{- episode.show_notes -}}
  </div>
{%- endcapture -%}

{%- capture book_teaser -%}
  {%- render '_component.rt-book-teaser.html' -%}
{%- endcapture -%}

{%- capture layout_row_content -%}
  <div class="rt-show">
    {%- render '_component.content-item.html',
      content: show_meta,
    -%}

    {%- if episode.show_notes != blank -%}
      {%- render '_component.content-item.html',
        content: show_notes,
      -%}
    {%- endif -%}

    {%- render '_component.content-item.html',
      content: book_teaser,
    -%}
  </div>
{%- endcapture -%}

{%- render '_component.layout-row.html',
  content: layout_row_content,
  modifiers: 'layout-row--shadow-top',
-%}

{%- capture buttons -%}
  <div class="button-group ">
    <ul class="button-group__items">
      <li class="button-group__item">
        <a href="{{- blog.links.home -}}" class="button button--home button--with-icon button--block">
          <i class="button__icon"></i>
          <span class="button__label">Zurück zur Startseite</span>
        </a>
      </li>
      <li class="button-group__item">
        <a href="{{- blog.links.archive -}}" class="button button--forward button--with-icon button--block">
          <i class="button__icon"></i>
          <span class="button__label">Alle Episoden</span>
        </a>
      </li>
    </ul>
  </div>
{%- endcapture -%}

{%- render '_component.layout-row.html',
  modifiers: 'layout-row--wood layout-row--shadow-vertical',
  content: buttons,
-%}
