$spacing--default: 20px;

// Calculated spacings.

$spacing--one-third: round($spacing--default / 3);
$spacing--quarter: round($spacing--default / 4);
$spacing--half: round($spacing--default / 2);
$spacing--three-quarters: round($spacing--default / 4 * 3);
$spacing--one-half: round($spacing--default * 1.5);
$spacing--double: $spacing--default * 2;
$spacing--triple: $spacing--default * 3;
