$color--black: #000;
$color--white: #fff;
$color--blue: #3e6d9c;
$color--blue--darker: #38628c;
$color--blue--lighter: #527ca6;
$color--green: #98c770;
$color--gray: #9d9c9c;
$color--brown: #87766f;
$color--brown--darker: #644f49;
