// Breakpoint boundaries.
$_breakpoint--upper-boundary--phone: 400px;
$_breakpoint--upper-boundary--phone--landscape: 600px;
$_breakpoint--upper-boundary--tablet--portrait: 900px;
$_breakpoint--upper-boundary--tablet--landscape: 1200px;
$_breakpoint--upper-boundary--desktop: 1800px;

// Retina support.
$_breakpoint--retina: (min-resolution 1.5dppx);

// Breakpoint identifiers;
$breakpoint--phone--only: 'phone--only';
$breakpoint--phone--landscape--down: 'phone--landscape--down';
$breakpoint--phone--landscape--only: 'phone--landscape--only';
$breakpoint--phone--landscape--up: 'phone--landscape--up';
$breakpoint--tablet--portrait--down: 'tablet-portrait--down';
$breakpoint--tablet--portrait--only: 'tablet-portrait--only';
$breakpoint--tablet--portrait--up: 'tablet-portrait--up';
$breakpoint--tablet--landscape--down: 'tablet-landscape--down';
$breakpoint--tablet--landscape--only: 'tablet-landscape--only';
$breakpoint--tablet--landscape--up: 'tablet-landscape--up';
$breakpoint--desktop--down: 'desktop--down';
$breakpoint--desktop--only: 'desktop--only';
$breakpoint--desktop--up: 'desktop--up';
$breakpoint--desktop--large--up: 'desktop--large--up';

// Breakpoint map used for lazySizes integration.
$breakpoint-map--lazysizes: (
  '--phone': 0,
  '--phone-2x': 0 $_breakpoint--retina,
  '--phone-landscape': $_breakpoint--upper-boundary--phone,
  '--phone-landscape-2x': $_breakpoint--upper-boundary--phone $_breakpoint--retina,
  '--tablet-portrait': $_breakpoint--upper-boundary--phone--landscape,
  '--tablet-portrait-2x': $_breakpoint--upper-boundary--phone--landscape $_breakpoint--retina,
  '--tablet-landscape': $_breakpoint--upper-boundary--tablet--portrait,
  '--tablet-landscape-2x': $_breakpoint--upper-boundary--tablet--portrait $_breakpoint--retina,
  '--desktop': $_breakpoint--upper-boundary--tablet--landscape,
  '--desktop-2x': $_breakpoint--upper-boundary--tablet--landscape $_breakpoint--retina,
  '--desktop-large': $_breakpoint--upper-boundary--desktop,
  '--desktop-large-2x': $_breakpoint--upper-boundary--desktop $_breakpoint--retina,
);
